NEXT_PUBLIC_SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=sInJlZiI6Im96Y29ycnpteHdxaGVpd3JwdWxkIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3OTg3NzAwOSwiZXhwIjoyMDk1NDUzMDA5fQ.0QTi8EYR_YEUrjlLR4zZtiBsgltabQFeJ2J09N0AifY

NEXT_PUBLIC_FLUTTERWAVE_PUBLIC_KEY=713cc671-bbe8-418f-8a06-3ebd87d77ca6
FLUTTERWAVE_SECRET_KEY=
FLW_SECRET_HASH=
RESEND_API_KEY=re_7ed1C99t_P7hFTtSyk1XhfrjGmnYebuuq
ORDER_NOTIFICATION_EMAIL= jchibuike75@gmail.com
ORDER_NOTIFICATION_FROM=jeochibyke123@gmail.com
